<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% flash.each do |msg_type, msg| %>
        <div class="alert alert-<%=msg_type%>"><%= msg %></div>
      <% end %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
    <div class="col-md-6">
      <section>
        <ol>
          <%= render 'shared/feed' %>
        </ol>
      </section>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <%= render 'not_loggedin_home'%>
  </div>
<% end %>